.results-container{
    display: flex;
    justify-content: center;
}

.results-block{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.result-block{
    background-color: red;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0rem;
}

.date-block{

}

.requestDate-block{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 0.4rem;
}

.request-block{
    width: 15rem;
}

.response-block{
    padding: 0.8rem 0.4rem;
}